<meta charset="UTF-8"/>
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
<meta name="renderer" content="webkit">
<meta name="author" th:content="${site.title}">
<meta name="site" th:content="${site.url}">
<meta property="og:keywords" th:content="${site.seo.keywords}">
<meta property="og:description" th:content="${site.seo.description}">
<meta property="og:site_name" th:content="${site.title}">
<meta property="og:url" th:content="${site.url}">
<meta property="og:title" th:content="${site.title}">
<meta property="og:locale" content="zh_CN">
<meta property="og:type" content="website">
<meta property="twitter:partner" content="ogwp">
<meta name="format-detection" content="email=no">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="apple-touch-icon" sizes="180x180" th:href="${site.logo}">
<link rel="shortcut icon" size="32x32" th:href="${site.logo}">
<link rel="canonical" th:href="${site.url}">
<link rel="dns-prefetch" th:href="${resource_url}">

<script id="base-script" th:inline="javascript">
  window.ThemeInfo = {
    version:  /*[[${theme.spec.version}]]*/ '',
    author:/*[[${theme.spec.author}]]*/ {},
    github:/*[[${theme.spec.repo}]]*/ ''
  };
  if (localStorage.getItem('butterfly-theme')) {
    document.querySelector('html').setAttribute('data-theme', localStorage.getItem('butterfly-theme'));
  } else {
    localStorage.setItem('butterfly-theme', document.querySelector('html').getAttribute('data-theme'))
  }
  document.getElementById('base-script').remove();
</script>

<!--base style-->
<style type="text/css" th:inline="css">
  :root {
    --main-max-width: /*[(${theme.config.style.content_max_width})]*/ 1200px;
    --cursor-default: url("[(${resource_url + '/plugins/cursor/simple/default.cur'})]"), auto;
    --cursor-pointer: url("[(${resource_url + '/plugins/cursor/simple/pointer.cur'})]"), auto;
  }

  html {
    --theme: /*[(${theme.config.style.theme_color_light})]*/ #49b1f5;
    --body-background: #eaeaea;
  }

  html[data-theme=dark] {
    --theme: /*[(${theme.config.style.theme_color_dark})]*/ #ff7242;
    --body-background: #eaeaea;
  }

</style>

<!--base link-->
<link rel="preload stylesheet" as="style" th:if="${theme.config.style.font_family != 'no'}"
      th:href="${resource_url+'/font/'+theme.config.style.font_family+'.min.css'}">
<link rel="preload stylesheet" as="style" th:href="${resource_url + '/plugins/fontawesome/fontawesome.min.css'}">
<link rel="preload stylesheet" as="style" th:href="${resource_url + '/plugins/animate/animate.min.css'}">
<link rel="preload stylesheet" as="style" th:href="${resource_url + '/css/global.min.css' + theme_version }">
