<!DOCTYPE html>
<html lang="en"
      data-theme="light"
      xmlns:th="https://www.thymeleaf.org"
      th:fragment="layout (page,head,header,main)"
      th:with="
      resource_url =${theme.config.other.enable_cdn_link ? theme.config.other.cdn_link : #theme.assets('/')},
      theme_version = ${'?v='+ theme.spec.version} 
      "
>
<head>
  <th:block th:replace="~{modules/head}"></th:block>
  <th:block th:insert="${head}"></th:block>
</head>
<body>
<div id="Butterfly" th:class="${page}">

  <!--头部-->
  <header
    class="header"
    th:insert="${header}">

  </header>

  <!--主体-->
  <main
    th:class="'main'"
    th:insert="${main}">
  </main>

  <!--页脚-->
  <th:block th:replace="~{modules/footer}"></th:block>

  <!--js-->
  <script type="text/javascript" th:src="${resource_url + '/plugins/jquery/jquery.min.js'}"></script>
  <script type="text/javascript" th:src="${resource_url + '/plugins/lazyLoad/lazyLoad.min.js'}"></script>
  <script type="text/javascript" th:src="${resource_url + '/js/global.min.js' + theme_version}"></script>

</div>
</body>
</html>